{{>header}}

<script src="/public/scripts/weather.js"></script>

<div class='wiconsection'>
    <div class='circle'>
        <div id='wFrame'>
            <!-- Weather icon  will be disp here.-->
            <img id='wim'>
        </div>
    </div>
</div>
<hr>
<div id='weatherinfo'></div>
<hr>
<p>lorem ipsum</p>

{{>footer}}