* {
    border: 1px solid rgba(54, 189, 20, 0.3);
}

#wFrame {
    /* background-color: tomato; */
}

div.circle {
    -moz-border-radius: 150px/150px;
    -webkit-border-radius: 150px 150px;
    border-radius: 150px/150px;
    border: solid 21px #f00;
    width: 150px;
    height: 150px;
}

div.square {
    border: solid 21px #f0f;
    width: 50px;
    height: 50px;
}